<div class="alert alert-info alert-dismissible fade show mb-0" style="transform: scale(0.8);" role="alert">
  <strong><%= textBold%></strong> <%= text%>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
