<nav class="navbar navbar-expand-lg navbar-dark position-fixed top-0 z-3 " style="backdrop-filter: 50px;">
    <div class="container-fluid">
        <a class="navbar-brand w-50" href="/">
            <img src="images/Business.png" alt="shop-inventory" class="w-25">
            <span class="bg-black px-2 py-2 rounded bg-opacity-75">Shop inventory</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav bg-black rounded-5 bg-opacity-75 px-1 py-3">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>

                <li class="nav-item"><a href="/statistics" class="nav-link">Statistics</a></li>
                <li class="nav-item"><a href="/shops" class="nav-link">Shops</a></li>
                <li class="nav-item"><a href="/categories" class="nav-link">Categories</a></li>
                <li class="nav-item"><a href="/sales" class="nav-link">Sales</a></li>
                <li class="nav-item"><a href="/products" class="nav-link">Products</a></li>
                <li class="nav-item"><a href="/suppliers" class="nav-link">Suppliers</a></li>
                <li class="nav-item"><a href="/workers" class="nav-link">Workers</a></li>
                <li class="nav-item"><a href="/categories" class="nav-link">Categories</a></li>
                <li class="nav-item"><a href="/customers" class="nav-link">Customers</a></li>
                <li class="nav-item"><a href="/login" class="nav-link">login</a></li>
            </ul>
        </div>
    </div>
</nav>