<article class="card text-bg-dark bg-opacity-75">
    <h2 class="card-header text-center h2"><%= header %></h2>
    <div class="card-body text-center">
        <p><%= description %></p>
    </div>
    <div class="card-footer text-center text-center">
        <a href=<%= linkTo %> class="btn btn-primary"><%= linkTo %></a>
    </div>
</article>