<section class="text-center d-flex justify-content-center flex-column align-items-center gap-2">
  <h1 class="h1 text-white bg-dark p-2 rounded bg-opacity-50"> Welcome to shop manager </h1>

  <p class="w-25 text-white p-2 bg-black rounded bg-opacity-50">
      this application is a shop manager, allowing you to manage multiple shops, keeping track of your customers, products, categories, with full crud functionalities, and good inventions
  </p>
</section>
